# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#MSVC stuff
*.suo
*.sdf
*.opensdf
*.ipch
*.tlog
*.log
*.manifest
*.pdb
*.exp
*.unsuccessfulbuild
*.lastbuildstate
*.cache
*.rc
*.idb
*.res
